<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.caller.mhealth">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <uses-feature android:name="android.hardware.camera"/>
    <!-- 申明应用需要用到相机 -->
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <!-- 申明应用需要用到自动对焦 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 申请相机使用权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 申明录音权限 -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <!-- 设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 通知震动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="0f05733c0ba69d0ff75b31e1f7cc7010"/>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="cFb006n7jvF06hRwXkgsNYzhqmAFnOQ5"/>

        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".activities.CookShowActivity">
        </activity>
        <activity android:name=".activities.BookInfoActivity">
        </activity>
        <activity android:name=".activities.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegistActivity">
        </activity>
        <activity android:name=".activities.LoginActivity">
        </activity>
        <activity android:name=".activities.GetUserPhotoActivity">
        </activity>
        <activity android:name=".activities.ActivityAbout">
        </activity>
        <activity android:name=".activities.LocationActivity">
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>

        <activity android:name=".activities.ChattingActivity">
        </activity>
        <activity
            android:name=".activities.ConversationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="org.caller.mhealth"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.SubConversationListActivtiy">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="org.caller.mhealth"
                    android:path="/subconversationlist"
                    android:scheme="rong"/>
            </intent-filter>
        </activity>
        <activity
            android:name="activities.SubConversationListActivtiy"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="org.caller.mhealth"
                    android:pathPrefix="/subconversationlist"
                    android:scheme="rong"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="org.caller.mhealth"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ContactsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.SearchUserActivity">
        </activity>
        <activity android:name=".activities.CommentActivity">
        </activity>
        <activity android:name=".activities.PushCommentActivity">
        </activity>
    </application>

</manifest>